.nav {
background-color: #ffffff;
	display: block;
	margin: auto;
	overflow: hidden;
	width: 50%; 
}

.nav2 {
background-color: #ffffff;
	display: block;
	margin: auto;
	overflow: hidden;
	width: 75%; 
}
.profile {

padding: 5px;
border-radius: 10%;
}

.title{
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 2em;
}

.subtitle{
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

body {
	background-color: white;
	color: #222;
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1em;
	min-height: 400px;
    margin-bottom: 100px;
    clear: both; /*Research more on this*/
	
}
nav ul li {
		display: inline-block;
		transition: all 0.5s; 
	}
	
		nav > ul > li > a {
			
			display: block;
			line-height: 3em;
			padding: 0 2em;
			text-decoration: none;
			color: #aaaaaa;
		}

nav > ul > li:hover {
          background-color: #00c0ff;
        }

        nav > ul > li:hover > a {
          color: #ffffff;
        }

footer {
	background:#ffffff;
	width:100%;
	height:2em;
	position:fixed;
	bottom:0;
	left:0;
	padding: 10px 25px 25px 50px;

}

section {
	margin: auto;
	width: 75%;
	max-width: 960px;
}

article {

	margin: auto;
	width: 75%;
	max-width: 960px;
}

article header {
	font-size: 1.5em;
}

.icon {
	width:32px;
	height: 32px;
	margin:5px;
	border-radius: 50%;
	transition: all 0.5s;
}

.icon:hover {
	background-color: #00c0ff;
	
}

article a:link {
	text-decoration: none;
	font-weight: 400;
	color: orange;
}

article a:visited {
 color: orange;
}

article a:hover {
	color: #00c0ff;
	transition: all 0.5s;
}

h1, h2, h3 {
	font-weight: normal;
	font-size: 1em;
}

.image_size {
	max-width: 1024px;
}

.static {}
.absolute {}